<div class="appIconContainer">
<!-- 	http://172.16.101.143:8080/walgreens_lite/index.html#/home
 -->	<div class="loginIconContainer">
		<a href="#/productList">
			<img class="loginIcon" src="images/wg_img/man_icon.png">
		</a>
	</div>
		<div class="row inside-container">
			<div class="col-sm-12" >
				<img class="appIcon" src="images/wg_img/wg_logo.png">
			</div>
			<div class="col-sm-12">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" ng-model="enteredValue"class="form-control" style="width: 103%;" placeholder="What are you looking for today?">
                    <span class="input-group-addon">
                        <button type="submit" ng-click="findValue(enteredValue)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>

        </div>
		</div>
</div> 

